.center-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container-no-height {
    display: flex;
    justify-content: center;
}

.center-container-full {
    height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}